[user]
	name = Yoshihisa Tanaka
	email = yt.hisa@gmail.com
[color]
	diff = auto
[alias]
	co = checkout
	ci = commit
	di = diff
	st = status -u
	br = branch
	dic = diff --cached
	cia = commit -a
	lf = log --pretty=fuller
	lg = log --graph
	lgf = log --graph --pretty=fuller
	lo = log --pretty=oneline
	ls = ls-files
[log]
	decorate = short
	abbrevCommit = true
[push]
	default = simple
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process
[ghq]
	root = ~/go/src
	root = ~/.ghq
[include]
	path = .gitconfig.local
[pull]
	ff = only
[init]
	defaultBranch = master
