[core]
	pager = delta
[interactive]
	diffFilter = delta --color-only --features=interactive
[user]
	name = Yoshihisa Tanaka
	email = yt.hisa@gmail.com
[color]
	diff = auto
[alias]
	co = checkout
	ci = commit
	di = diff
	st = status -u
	br = branch
	dic = diff --cached
	cia = commit -a
	lf = log --pretty=fuller
	lg = log --graph
	lgf = log --graph --pretty=fuller
	lo = log --pretty=oneline
	ls = ls-files
[log]
	decorate = short
	abbrevCommit = true
[push]
	default = simple
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process
[ghq]
	root = ~/go/src
	root = ~/.ghq
[include]
	path = .gitconfig.local
[pull]
	ff = only
[init]
	defaultBranch = master
[delta]
	line-numbers = true
	features = decorations
	side-by-side = true
	navigate = true
[delta "interactive"]
	keep-plus-minus-markers = false
[delta "decorations"]
	commit-decoration-style = blue ol
	commit-style = raw
	file-style = omit
	hunk-header-decoration-style = blue box
	hunk-header-file-style = red
	hunk-header-line-number-style = "#067a00"
	hunk-header-style = file line-number syntax
